@charset "utf-8";

html{
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Microsoft YaHei";
}
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
